$container-width:            1170px;
$container-offset:           30px;
$container-offset-mobile:    20px;

$color-primary:              #393dff;
$color-black:                #1a1844;
$color-grey:                 #939dd1;
$color-white:                #ffffff;
$color-green:                #17d27b;