.calc {
    padding: 40px;
    background-color: $color-white;
    border-radius: 20px;

    &__title {
        margin-bottom: 25px;
    }

    &__subtitle {
        &:not(:first-child) {
            margin-top: 20px;
        }
    }

    &__item {
        &:not(:first-child) {
            margin-top: 10px;
        }

        &--mt-lg {
            &:not(:first-child) {
                margin-top: 20px;
            }
        }
    }

    &__group {
        margin-left: -20px;
        display: flex;

        &:not(:first-child) {
            margin-top: 10px;
        }

        &--mt-lg {
            &:not(:first-child) {
                margin-top: 20px;
            }
        }
    }

    &__group-item {
        margin-left: 20px;
        flex: 1 1 0%;

        &--lg {
            flex: 0 0 52%;
        }
    }

    &__submit {
        margin-top: 20px;
    }

    @media (max-width: 767px) {
        &__group {
            flex-direction: column;

            &--mt-lg {
                &:not(:first-child) {
                    margin-top: 10px;
                }
            }
        }

        &__group-item {
            &:not(:first-child) {
                margin-top: 10px;
            }
        }

        &__group--mt-lg &__group-item {
            &:not(:first-child) {
                margin-top: 20px;
            }
        }

        &__subtitle {
            &--mobile-sm {
                font-size: 18px;

                &:not(:first-child) {
                    margin-top: 10px;
                }
            }
        }
    }

    @media (max-width: 440px) {
        padding: 30px;

        &__subtitle {
            max-width: 330px;
            font-size: 20px;

            &--mobile-sm {
                font-size: 18px;
            }
        }
    }
}
