.header {
    position: absolute;
    z-index: 10;
    padding-top: 40px;
    width: 100%;
    min-width: 360px;

    &__content {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__btns {
        display: flex;
    }

    &__btns-item {
        padding-top: 10px;
        padding-bottom: 10px;
        line-height: 1;

        &:not(:first-child) {
            margin-left: 30px;
        }
    }

    @media (max-width: 767px) {
        padding-top: 45px;

        &__logo {
            max-width: 90px;
        }
    }

    @media (max-width: 440px) {
        &__logo {
            max-width: 82px;
        }

        &__btns-item {
            &:not(:first-child) {
                margin-left: 20px;
            }
        }
    }

    @media (max-width: 390px) {
        &__logo {
            max-width: 72px;
        }

        &__btns-item {
            padding: 8px 10px;

            &:not(:first-child) {
                margin-left: 15px;
            }
        }
    }
}
