.link {
    transition: color 0.35s;

    &:hover {
        color: $color-primary;
    }

    &__icon {
        flex: 0 0 auto;

        &:first-child:not(:last-child) {
            margin-right: 8px;
        }

        &:last-child:not(:first-child) {
            margin-left: 8px;
        }

        &--mx-lg {
            &:first-child:not(:last-child) {
                margin-right: 10px;
            }

            &:last-child:not(:first-child) {
                margin-left: 10px;
            }
        }

        &--mx-sm {
            &:first-child:not(:last-child) {
                margin-right: 6px;
            }

            &:last-child:not(:first-child) {
                margin-left: 6px;
            }
        }
    }

    &--primary {
        color: $color-primary;
    }

    &--xs {
        font-size: 14px;
    }

    &--sm {
        font-size: 15px;
    }

    &--lg {
        font-size: 18px;
    }

    &--xl {
        font-size: 20px;
    }

    &--bold {
        font-weight: 700;
    }

    &--medium {
        font-weight: 500;
    }

    &--line {
        text-decoration: underline;

        &:hover {
            text-decoration: none;
        }
    }

    &--hover-line {
        &:hover {
            text-decoration: underline;
        }
    }

    &--upper {
        text-transform: uppercase;
    }

    &--iflex {
        display: inline-flex;
        align-items: center;
        justify-content: center;
    }

    &--flex {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &--justify-start {
        justify-content: flex-start;
    }

    &--justify-end {
        justify-content: flex-end;
    }

    &--items-start {
        align-items: flex-start;
    }

    &--items--end {
        align-items: flex-end;
    }
}
