.sign-up {
    text-align: center;

    &__text {
        &:not(:first-child) {
            margin-top: 40px;
        }
    }

    &__btn {
        margin-top: 40px;
        margin-left: auto;
        margin-right: auto;
    }
}