.step-item {
    padding: 26px 30px;
    border: 1px solid rgba(147, 157, 209, 0.5);
    box-shadow: 0px 4px 20px rgba(84, 85, 102, 0.12);
    border-radius: 20px;

    &__text {
        margin-top: 12px;
    }

    &--radius-lg {
        border-radius: 30px;
    }

    &--gradient {
        &:nth-child(3n + 1) {
            background: radial-gradient(33.24% 44.57% at 50% 100%, rgba(57, 61, 255, 0.2) 0%, rgba(57, 61, 255, 0) 100%);
        }

        &:nth-child(3n + 2) {
            background: radial-gradient(42.43% 56.88% at 50% 100%, rgba(57, 61, 255, 0.2) 0%, rgba(57, 61, 255, 0) 100%), radial-gradient(43.78% 58.7% at 50% 0%, rgba(57, 61, 255, 0.2) 0%, rgba(57, 61, 255, 0) 100%);
        }

        &:nth-child(3n + 3) {
            background: radial-gradient(38.65% 51.81% at 50% 0%, rgba(57, 61, 255, 0.2) 0%, rgba(57, 61, 255, 0) 100%);
        }
    }
}